---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "github_actions"
    cooldown:
      default-days: 7

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    groups:
      dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    labels:
      - "dependencies"
    groups:
      dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "frontend"
    groups:
      frontend-dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7
