apiVersion: v1
kind: ServiceAccount
metadata:
  name: openfero-pod-restarter
  namespace: openfero
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: openfero-pod-restarter
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "delete"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: openfero-pod-restarter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: openfero-pod-restarter
subjects:
  - kind: ServiceAccount
    name: openfero-pod-restarter
    namespace: openfero
