apiVersion: v1
kind: ServiceAccount
metadata:
  name: openfero-daemonset-fixer
  namespace: openfero
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: openfero-daemonset-fixer
rules:
  - apiGroups: ["apps"]
    resources: ["daemonsets"]
    verbs: ["get", "list", "patch"]
  - apiGroups: ["apps"]
    resources: ["daemonsets/status"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: openfero-daemonset-fixer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: openfero-daemonset-fixer
subjects:
  - kind: ServiceAccount
    name: openfero-daemonset-fixer
    namespace: openfero
