apiVersion: v1
kind: ServiceAccount
metadata:
  name: openfero-hpa-scaler
  namespace: openfero
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: openfero-hpa-scaler
rules:
  - apiGroups: ["autoscaling"]
    resources: ["horizontalpodautoscalers"]
    verbs: ["get", "list", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: openfero-hpa-scaler
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: openfero-hpa-scaler
subjects:
  - kind: ServiceAccount
    name: openfero-hpa-scaler
    namespace: openfero
