name: E2E Tests

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "**"
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/e2e-tests.yml"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/e2e-tests.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Clone the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind "https://kind.sigs.k8s.io/dl/latest/kind-linux-$(go env GOARCH)"
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: frontend/.nvmrc

      - name: Build frontend
        working-directory: frontend
        run: |
          npm ci
          npm run build

      - name: Build binary
        run: make build

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
