name: Nightly build

on:
  schedule:
    - cron: "0 0 * * 5"
  workflow_dispatch:

# Default to read-only permissions
permissions:
  contents: read

jobs:
  build-nightly:
    name: Push tag for nightly build
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for creating tags and releases
      packages: write # Required for container management
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: "Checkout"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ secrets.NIGHTLY_BUILD_GH_TOKEN }}
          fetch-depth: 0
          persist-credentials: true # Allow git operations with the token

      - name: "Push new tag"
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

          DESCRIBE=$(git tag -l | sed 's/^v//' | sort -V | grep -Ev "(nightly|latest)" | tail -n 1)
          MAJOR_VERSION=$(echo "$DESCRIBE" | awk '{split($0,a,"."); print a[1]}')
          MINOR_VERSION=$(echo "$DESCRIBE" | awk '{split($0,a,"."); print a[2]}')
          MINOR_VERSION=$((MINOR_VERSION + 1))
          TAG="${MAJOR_VERSION}.${MINOR_VERSION}.0-nightly.$(date +'%Y%m%d')"
          git tag -a "$TAG" -m "$TAG: nightly build"
          git push origin "$TAG"

      - name: "Clean up nightly releases"
        uses: dev-drprasad/delete-older-releases@dfbe6be2a006e9475dfcbe5b8d201f1824c2a9fe # v0.3.4
        with:
          keep_latest: 2
          delete_tags: true
          delete_tag_pattern: nightly
          delete_prerelease_only: true
        env:
          GITHUB_TOKEN: ${{ secrets.NIGHTLY_BUILD_GH_TOKEN }}

      - name: "Delete old nightly containers"
        uses: snok/container-retention-policy@ecf5b93940203c938d0cff339c331cc0c3280e83 # v3.0.1
        with:
          account: OpenFero
          image-names: openfero
          image-tags: "*-nightly*"
          cut-off: 2w
          token: ${{ secrets.NIGHTLY_BUILD_GH_TOKEN }}
